<div class="row mb-3">
  <div class="col-12">
    <div class="dropdown float-right sort-by">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by:
      </a>
      
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="repo_created_at">Date Created</a>
        <a class="dropdown-item" href="repo_updated_at">Last Updated</a>
        <a class="dropdown-item" href="forks">Popularity</a>
      </div>
    </div>
  </div>
</div>