<div class="row mt-4">
  <div class="col-12">
    <h1>Modules</h1>
    <hr class="featurette-divider">
  </div>

  <div class="col-md-8 mb-4">
    <%= render partial: "filters" %>

    <% @mods.each do |mod| %>
      <%= render partial: "cards", locals: { mod: mod } %>
    <% end %>

    <%= paginate @mods %>
  </div>

  <div class="col-md-4">
    <%= render partial: "popular", locals: { title: "Popular Modules", pops: @pops } %>
  </div>
</div>