<div class="row mt-4">
  <div class="col-12">
    <h1>Lua Scripts</h1>
    <hr class="featurette-divider">
  </div>

  <div class="col-8">
    <%= render partial: "order_by" %>

    <% @mods.each do |mod| %>
      <%= render partial: "cards", locals: { mod: mod } %>
    <% end %>

    <%= paginate @mods %>
  </div>
</div>