@import 'bootstrap/bootstrap.scss';

body {
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  img {
    width: 170px;
  }
}

.readme {

  .markdown {
    img {
      max-width: 100%;
    }
  }
}
