@import 'bootstrap/bootstrap.scss';

body {
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  img {
    width: 170px;
  }
}

.readme {

  .markdown {
    img {
      max-width: 100%;
    }
  }
}

.mod-avatar-show {
  img {
    max-width: 119px;
  }
}

.popular-mods {
  .list-group {
    .list-group-item {
      padding: 0.75rem 0.25rem;
    }
  }
}